{
  "openapi": "3.0.3",
  "info": {
    "title": "Dalux Build Minimal",
    "version": "0.1.0",
    "description": "Minimal public-shape fragment for the SIM Dalux site adapter."
  },
  "servers": [
    {
      "url": "https://api.dalux.com"
    }
  ],
  "paths": {
    "/projects/{projectId}/items": {
      "get": {
        "summary": "List project items",
        "security": [
          {
            "apiIdentityBearer": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectItems"
                }
              }
            }
          }
        }
      }
    },
    "/items/{itemId}": {
      "patch": {
        "summary": "Update an item note",
        "security": [
          {
            "apiIdentityBearer": []
          }
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item reference",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemRef"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiIdentityBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ProjectItems": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProjectItem"
            }
          }
        }
      },
      "ProjectItem": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "webUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "NotePatch": {
        "type": "object",
        "required": ["note"],
        "additionalProperties": false,
        "properties": {
          "note": {
            "type": "string"
          }
        }
      },
      "ItemRef": {
        "type": "object",
        "required": ["id"],
        "properties": {
          "id": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "webUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  }
}
